<!-- listar-apartamento.component.html -->
<div class="table-responsive-mobile">
  <h1 class="mb-3">Listar Predios</h1>
  <div class="card shadow-sm p-4">

    <mat-toolbar class="btn-blue mb-4">
      <span class="flex-spacer"></span>
      <div class="d-flex justify-content-end w-100">
        <button mat-raised-button color="accent" routerLink="/predio">Novo</button>
      </div>
    </mat-toolbar>

    <div class="row g-3 mb-3">
      <div class="col-12 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Filtrar por Descrição</mat-label>
          <input matInput (input)="filtrarDescricao(getValorInput($event))">
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Filtrar por Número</mat-label>
          <input matInput (input)="filtrarNumero(getValorInput($event))">
        </mat-form-field>
      </div>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1 w-100">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cód.</th>
        <td mat-cell *matCellDef="let item">{{ item.id }}</td>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
        <td mat-cell *matCellDef="let item">{{ item.descricao }}</td>
      </ng-container>

      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Número</th>
        <td mat-cell *matCellDef="let item">{{ item.numero }}</td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let item" class="acoes-cell">
          <button mat-raised-button color="primary" [routerLink]="['/predio', item.id]">Editar</button>
          <button mat-raised-button color="warn" (click)="excluir(item.id)">Excluir</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div class="paginator-container">
    <mat-paginator
      [length]="totalRegistros()"
      [pageSize]="itensPorPagina()"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons>
    </mat-paginator>
    </div>

    <div class="mt-2">
      Página {{ paginaAtual() + 1 }}
    </div>

  </div>
</div>
