<button mat-button class="menu-item" routerLink="/locacao">
  <mat-icon>home_work</mat-icon>
  Locação
</button>

<button mat-button class="menu-item" routerLink="/apartamento">
  <mat-icon>apartment</mat-icon>
  Apartamento
</button>

<button mat-button class="menu-item" routerLink="/predio">
  <mat-icon>location_city</mat-icon>
  Prédio
</button>

<button mat-button class="menu-item" routerLink="/inquilino">
  <mat-icon>engineering</mat-icon>
  Inquilino
</button>

<button mat-button class="menu-item" routerLink="/diario">
  <mat-icon>event</mat-icon>
  Diário
</button>

<button mat-button class="menu-item" routerLink="/valor">
  <mat-icon>attach_money</mat-icon>
  Valor
</button>

<button mat-button class="menu-item" routerLink="/usuario">
  <mat-icon>person</mat-icon>
  Usuário
</button>
