/* CONTAINER */
.layout-container {
  height: 100dvh;
  background: #f3f3f3;
  overflow: hidden;
}

/* MENU LATERAL */
.menu {
  width: 250px;
  background: white;
  border-right: 1px solid #ddd;
}

.menu-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* ÁREA PRINCIPAL */
mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
}

/* HEADER */
.header {
  height: 50px;
  position: relative;
}

/* TÍTULO */
.header-title {
  font-size: 22px;
  font-weight: bold;
}

/* HAMBURGUER */
.hamburger-box {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

/* USER CARD */
.user-card {
  position: absolute;
  right: 15px;
  padding: 6px 10px;
  background: white;
  border-radius: 6px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.user-name {
  font-size: 12px;
  font-weight: bold;
  color: #333;
}

/* CONTEÚDO */
.content {
  flex: 1;
  background: white;
  overflow-y: auto;
  border-radius: 6px;
}

/* RODAPÉ */
.footer {
  padding: 15px;
  text-align: center;
  font-size: 14px;
  margin-top: auto;
  height: 8px;
}
