<form [formGroup]="form">

  <mat-toolbar class="mb-4 btn-blue toolbar-responsivo">
    <div class="toolbar-content">
      <div class="button-group-left">
        <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
        <button mat-raised-button color="warn" type="button" (click)="cancelar()">Cancelar</button>
      </div>
      <div class="button-group-right">
        <button mat-raised-button color="accent" routerLink="/listar-inquilino" type="button">Listar</button>
      </div>
    </div>
  </mat-toolbar>

  <div class="row g-3">

    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" />

        <mat-error *ngIf="(form.controls['nome'].touched || formSubmitted) && form.controls['nome'].invalid">
          Nome é obrigatório.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Apelido/Abreviação</mat-label>
        <input matInput formControlName="nomeAbreviado" />
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />

        <mat-error *ngIf="(form.controls['email'].touched || formSubmitted) && form.controls['email'].invalid">
          Email deve ser válido.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Contato</mat-label>
        <input matInput formControlName="contato" />
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>CPF</mat-label>
        <input matInput formControlName="cpf" />
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>RG</mat-label>
        <input matInput formControlName="rg" maxlength="20" />
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let status of statusOptions" [value]="status">{{ status }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Gênero</mat-label>
        <mat-select formControlName="genero">
          <mat-option *ngFor="let genero of generoOptions" [value]="genero">{{ genero }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>

</form>
