   @use '@angular/material' as mat;

   /* ================================
      TEMA MATERIAL PERSONALIZADO
      ================================ */

   $primary-color: mat.define-palette(mat.$green-palette, 600);  // Verde
   $accent-color:  mat.define-palette(mat.$pink-palette, 500);   // Rosa
   $warn-color:    mat.define-palette(mat.$red-palette, 600);    // Vermelho
   $blue-color:    mat.define-palette(mat.$indigo-palette, 500); // azul

   /* Tema Material */
   $custom-theme: mat.define-light-theme((
     color: (
       primary: $primary-color,
       accent: $accent-color,
       warn: $warn-color
     )
   ));

   @include mat.all-component-themes($custom-theme);

   /* ================================
      GLOBAL STYLES
      ================================ */

   html,
   body {
     height: 100%;
   }

   body {
     margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif;
   }

/* Toolbar azul customizada */
.mat-toolbar.btn-blue {
  background-color: mat.get-color-from-palette($blue-color) !important;
  color: white !important;
}

/* Snackbar personalizado */
.mat-mdc-snack-bar-container {
  &.snackbar-success,
  &.snackbar-error {
    margin-top: 20px !important;
  }
}

.snackbar-success {
  --mdc-snackbar-container-color: #4caf50 !important;
  --mat-snack-bar-button-color: #fff !important;
  
  .mdc-snackbar__surface {
    background-color: #4caf50 !important;
  }
  
  .mat-mdc-snack-bar-label {
    color: white !important;
  }
  
  .mat-mdc-button {
    color: white !important;
  }
}

.snackbar-error {
  --mdc-snackbar-container-color: #f44336 !important;
  --mat-snack-bar-button-color: #fff !important;
  
  .mdc-snackbar__surface {
    background-color: #f44336 !important;
  }
  
  .mat-mdc-snack-bar-label {
    color: white !important;
  }
  
  .mat-mdc-button {
    color: white !important;
  }
}
