   @use '@angular/material' as mat;

   /* ================================
      TEMA MATERIAL PERSONALIZADO
      ================================ */

   $primary-color: mat.define-palette(mat.$green-palette, 600);  // Verde
   $accent-color:  mat.define-palette(mat.$pink-palette, 500);   // Rosa
   $warn-color:    mat.define-palette(mat.$red-palette, 600);    // Vermelho
   $blue-color:    mat.define-palette(mat.$indigo-palette, 500); // azul

   /* Tema Material */
   $custom-theme: mat.define-light-theme((
     color: (
       primary: $primary-color,
       accent: $accent-color,
       warn: $warn-color
     )
   ));

   @include mat.all-component-themes($custom-theme);

   /* ================================
      GLOBAL STYLES
      ================================ */

   html,
   body {
     height: 100%;
   }

   body {
     margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif;
   }

/* Toolbar azul customizada */
.mat-toolbar.btn-blue {
  background-color: mat.get-color-from-palette($blue-color) !important;
  color: white !important;
}
