<form [formGroup]="form">

  <mat-toolbar class="mb-4 btn-blue toolbar-responsivo">
    <div class="toolbar-content">
      <div class="button-group-left">
        <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
        <button mat-raised-button color="warn" type="button" (click)="cancelar()">Cancelar</button>
      </div>
      <div class="button-group-right">
        <button mat-raised-button color="accent" routerLink="/listar-valor" type="button">Listar</button>
      </div>
    </div>
  </mat-toolbar>

  <div class="row g-3">

    <div class="col-12 col-md-8">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Valor</mat-label>
        <input matInput appCurrencyBr formControlName="valor" />

        <mat-error *ngIf="(form.controls['valor'].touched || formSubmitted) && form.controls['valor'].invalid">
          Valor é obrigatório.
        </mat-error>
      </mat-form-field>
    </div>

  </div>

</form>
