
.form-wrapper {
  margin-top: 20px;
  max-width: 1400px;
  margin-left: 0;
}

mat-error {
  font-size: 12px;
}

.btn-listar {
  background-color: #4CAF50 !important;
  color: white !important;
}

card {
  overflow: visible;
}

.cdk-overlay-pane {
  z-index: 10000 !important;
}

.select-panel-fix {
  z-index: 10000 !important;
}