<form [formGroup]="form">

  <mat-toolbar  class="mb-4 btn-blue">

    <div class="container-fluid px-0 w-100">

      <div class="row w-100">

        <div class="col-12 col-md-6 d-flex flex-wrap gap-2">
          <button mat-raised-button color="primary" (click)="salvar()">
            Salvar
          </button>

          <button mat-raised-button color="warn" type="button" (click)="cancelar()">
            Cancelar
          </button>
        </div>

        <div class="col-12 col-md-6 d-flex justify-content-md-end mt-2 mt-md-0">
          <button mat-raised-button color="accent" routerLink="/listar-apartamento" type="button">
            Listar
          </button>
        </div>

      </div>

    </div>

  </mat-toolbar>

  <div class="row g-3">

    <div class="col-12 col-md-8">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Descrição</mat-label>
        <input matInput formControlName="descricao" />

        <mat-error *ngIf="form.controls['descricao'].touched && form.controls['descricao'].invalid">
          Descrição é obrigatória.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Número</mat-label>
        <input matInput type="number" formControlName="numero" />

        <mat-error *ngIf="form.controls['numero'].hasError('required')">
          Número é obrigatório.
        </mat-error>
      </mat-form-field>
    </div>

  </div>

</form>
